@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.react-search-box-dropdown {
  position: absolute;
  left: 0px;
  width: 32rem;
  top: 2rem;
  z-index: 10;
}